.tech-logos-wrapper {
    display: flex;
    justify-content: center;
  }
  .tech-logos {
    max-height: 25px;
    max-width: 50px;
    border-radius: 4px;
    margin: 5px;
  }
  .social-logo {
    width: 22px;
    margin: 5px;
  }
  .stats-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .white-bg {
    background-color: white;
    padding: 1px 1px;
  }
  .stats {
    height: 175px;
  }